[Unit]
Description=Mark boot as successful and reset the boot attempt counter
After=multi-user.target rpimac-emulator.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/sleep 90
ExecStart=/bin/sh -c 'echo 0 > /boot/firmware/bootcount.txt'

[Install]
WantedBy=multi-user.target
